doctype html
html(itemscope itemtype="http://schema.org/Code")
  head
    title= data.title

    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, ya-title=fade, ya-dock=fade")
    meta(name="theme-color" content="#ff6666")

    meta(name="description"         content=data.longDescription)

    meta(itemprop="image"           content=data.image)
    meta(itemprop="name"            content=data.title)
    meta(itemprop="codeRepository"  content=data.repo)
    meta(itemprop="description"     content=data.longDescription)
    meta(itemprop="url"             content="http://evil-icons.io")

    meta(property="og:title"        content=data.title)
    meta(property="og:description"  content=data.longDescription)
    meta(property="og:url"          content="http://evil-icons.io")
    meta(property="og:site_name"    content=data.title)
    meta(property="og:type"         content="website")
    meta(property="og:image"        content=data.image)
    meta(property="fb:app_id"       content="858281727538787")

    meta(name="twitter:card"        content="summary")
    meta(name="twitter:title"       content=data.title)
    meta(name="twitter:description" content=data.shortDescription)
    meta(name="twitter:domain"      content="evil-icons.io")
    meta(name="twitter:image"       content=data.image)

    link(rel="apple-touch-icon" href="/assets/images/touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/assets/images/touch-icon-ipad-retina.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/assets/images/touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/images/touch-icon-ipad-retina.png")

    link(rel="yandex-tableau-widget" href="http://evil-icons.io/manifest.json")

    link(rel="stylesheet" href="/assets/app.css")

  body.red
    != icons.sprite

    .github-ribbon
      .github-ribbon__inner
        a(href=data.repo) Fork me on GitHub


    header.header
      .header__logo
        svg
          defs
            mask#logo-mask
              rect(width="100%" height="100%" fill="white")
              image(xlink:href="/assets/images/logo.svg" fill="#000" height="100%" width="100%")
          rect(width="100%" height="100%" mask="url(#logo-mask)" fill="white")

      h1
        | Evil Icons
        sup v.1.0.1
      p Lightweight SVG icons for your web project
      .likes
        .likes__gh
          iframe(src="http://ghbtns.com/github-btn.html?user=outpunk&repo=evil-icons&type=watch&count=true" height="20" width="90" frameborder="0" scrolling="0" allowTransparency="true")
        .likes__fb
          div(class="fb-like" data-href="http://evil-icons.io" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true")
        .likes__tw
          a(href="https://twitter.com/share" class="twitter-share-button" data-via="evilmartians" data-url="http://evil-icons.io" data-text=data.shortDescription)

      .header__btn
        a.btn.btn--accent(href="#{data.repo}#readme") Getting Started
        small Installation guide for developers

      .header__btn
        a.btn(href="#{data.repo}/raw/master/icons-sources/evil-icons.ai") Download Icons
        small .ai file for designers


    h2
      | Regular Style
      small Copy and paste icon names to use with your code

    article.icons
      .icons__switch
        button.icons__btn.btn(data-size="s") S
        button.icons__btn.btn.is-active(data-size="m") M
        button.icons__btn.btn(data-size="l") L


      each icon in iconNames
        figure.icons__plate
          != icons.icon(icon, {size: "m"})
          figcaption
            span.capitalized
              != helpers.capitalize(icon)
            span.normal= icon


    h2 Free & Open

    article.about
      p
        | Evil Icons are completely free and licensed under MIT.
        | We&nbsp;use Evil Icons in&nbsp;almost all of&nbsp;our new and upcoming
        | sites&nbsp;&mdash; and we&nbsp;would love you to&nbsp;do&nbsp;that as&nbsp;well.
        | Contributions are welcome!

      p Support us:
      .likes
        .likes__gh
          iframe(src="http://ghbtns.com/github-btn.html?user=outpunk&repo=evil-icons&type=watch&count=true" height="20" width="90" frameborder="0" scrolling="0" allowTransparency="true")
        .likes__fb
          div(class="fb-like" data-href="http://evil-icons.io" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true")
        .likes__tw
          a(href="https://twitter.com/share" class="twitter-share-button" data-via="evilmartians" data-url="http://evil-icons.io" data-text=data.shortDescription)



      figure.about__person(itemprop="author" itemscope itemtype="http://schema.org/Person")
        a(href="https://twitter.com/outpunk" itemprop="url")
          img(src="/assets/images/sasha.jpg" itemprop="image")
          figcaption(itemprop="name") Alexander Madyankin

      figure.about__person(itemprop="author" itemscope itemtype="http://schema.org/Person")
        a(href="https://twitter.com/romanshamin" itemprop="url")
          img(src="/assets/images/roma.jpg" itemprop="image")
          figcaption(itemprop="name") Roman Shamin

      a.about__sponsor(href="https://evilmartians.com?utm_source=evil-icons")
        p Sponsored by Evil&nbsp;Martians
        img.about__em(src="/assets/images/em.png")


    footer.footer
      p Evil Icons licensed under MIT License
      a(href=data.repo)
        | GitHub Repo
        != icons.icon("ei-external-link")

    #fb-root

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57143070-1', 'auto');
    ga('send', 'pageview');

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="/assets/app.js" defer)

